.container > h4 {
  font-family: Lato;
  font-size: 72px;
  font-weight: 600;
  line-height: 69.12px;
  color: #2d2d2d;
}

.container > p {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 300;
  line-height: 23.04px;
  color: #808080;
  margin-bottom: 0.5rem;
}
