.button {
  border-radius: 32px;
  display: flex;
  padding: 1rem 4rem;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}

.primary {
  background: #00c16e;
  border: none;
  color: #ffffff;
}

.secondary {
  background: #fff;
  color: #08841b;
  border: 1px solid #08841b;
}

.primary:disabled,
.tertiary:disabled {
  background-color: #b9b9b9;
  pointer-events: none;
  cursor: not-allowed;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .button {
    font-size: 14px;
    line-height: 23px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 14px;
    line-height: 23px;
  }
}
