.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 96px 128px;
}

.container > div {
  flex-basis: 48%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 620px;
  min-height: 441px;
  flex-shrink: 0;
  color: #fff;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 28px;
  }

  .container > div {
    flex-basis: 100%;
    max-width: 100%;
    min-height: 341px;
    font-family: Lato;
    font-size: 20px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 28px;
  }

  .container > div {
    flex-basis: 100%;
    max-width: 100%;
    min-height: 341px;
    font-family: Lato;
    font-size: 20px;
    border-radius: 20px;
  }
}
