.container {
  height: 98px;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2rem;
  padding: 1rem 128px;
  background: #ffffff;
}

.container > img {
  cursor: pointer;
  width: 184px;
  height: 61px;
  flex-shrink: 0;
}

.container > a:not(.active) {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
  color: #2d2d2ddd;
  text-decoration: none;
}

.container > div:not(.sideNav) {
  background: #1a171712;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  cursor: pointer;
}

.container > a:nth-child(2) {
  margin-left: auto;
}

.container > button {
  width: 310px;
}

.active {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  color: #2d2d2d;
  text-decoration: none;
}

.sidenavButton {
  display: none;
  margin-left: auto;
}

.sideNav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
  overflow: hidden;
  width: 0;
  transition: 0.3s;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    height: 80px;
    gap: 1rem;
    padding: 0.5rem 28px;
  }

  .container > img {
    width: 124px;
    height: 41px;
  }

  .container > a:not(.active),
  .container > div:not(.sideNav),
  .container > button,
  .active {
    display: none;
  }

  .sidenavButton {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 80px;
    gap: 1rem;
    padding: 0.5rem 28px;
  }

  .container > img {
    width: 124px;
    height: 41px;
  }

  .container > a:not(.active),
  .container > div:not(.sideNav),
  .container > button,
  .active {
    display: none;
  }

  .sidenavButton {
    display: block;
  }
}
